<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>돈 넣고 돈 먹기</title>

</head>
<body>
<!--form-->
<p><label>Game Name :</label>
<input type="text" name="game_name" id="game_name"></p>
<p><label>Game 참가 신청 시작 시간 :</label>
<input type="datetime-local" name="signup_date" id="signup_date"></p>
<p><label>Game 시작 시간 :</label>
<input type="datetime-local" name="start_date" id="start_date"></p>
<table width="100%">
    <tr>
      <td><hr /></td>
      <td style="width:1px; padding: 0 10px; white-space: nowrap;">당첨 기준 #1</td>
      <td><hr /></td>
    </tr>
</table>
<p><label>Rule Name :</label>
    <input type="text" name="rule_name1" id="rule_name1"></p>
<p><fieldset>
    <legend>당첨금산정기준:</legend>  
      <input type="radio" id="winning_type1_percentage" name="winning_type1" value="percentage" checked />
      <label for="percentage">percentage</label>
      <input type="radio" id="winning_type1_quantity" name="winning_type1" value="quantity" />
      <label for="quantity">quantity</label>    
  </fieldset>
    <label>당첨금 :</label>
    <input type="number" id="winning_point1" name="winning_point1" min="0" max="1000000" />
    <label>당첨자수 :</label>
    <input type="number" id="winner_count1" name="winner_count1" min="0" max="100" /></p>
<p>
<textarea id="code1" cols="50" rows="10">
</textarea></p>
<p><label>당첨 후 즉시 종료 여부 :</label>
    <input type="checkbox" id="end_immediately1" name="end_immediately1"/></p>
<table width="100%">
        <tr>
          <td><hr /></td>
          <td style="width:1px; padding: 0 10px; white-space: nowrap;">당첨 기준 #2</td>
          <td><hr /></td>
        </tr>
</table>
<p><label>Rule Name :</label>
    <input type="text" name="rule_name2" id="rule_name2"></p>
<p><fieldset>
        <legend>당첨금산정기준:</legend>  
          <input type="radio" id="winning_type2_percentage" name="winning_type2" value="percentage" checked />
          <label for="percentage">percentage</label>
          <input type="radio" id="winning_type2_quantity" name="winning_type2" value="quantity" />
          <label for="quantity">quantity</label>        
      </fieldset>
    <label>당첨금 :</label>
        <input type="number" id="winning_point2" name="winning_point2" min="0" max="1000000" />
    <label>당첨자수 :</label>
        <input type="number" id="winner_count2" name="winner_count2" min="0" max="100" /></p>
<p>
<textarea id="code2" cols="50" rows="10">
</textarea>
</p>
<p><label>당첨 후 즉시 종료 여부 :</label>
    <input type="checkbox" id="end_immediately2" name="end_immediately2"/></p>

<table width="100%">
        <tr>
          <td><hr /></td>
          <td style="width:1px; padding: 0 10px; white-space: nowrap;">당첨 기준 #3</td>
          <td><hr /></td>
        </tr>
</table>
<p><label>Rule Name :</label>
    <input type="text" name="rule_name3" id="rule_name3"></p>
<p><fieldset>
        <legend>당첨금산정기준:</legend>  
          <input type="radio" id="winning_type3_percentage" name="winning_type3" value="percentage" checked />
          <label for="percentage">percentage</label>
          <input type="radio" id="winning_type3_quantity" name="winning_type3" value="quantity" />
          <label for="quantity">quantity</label>        
      </fieldset>
    <label>당첨금 :</label>
        <input type="number" id="winning_point3" name="winning_point3" min="0" max="1000000" />
    <label>당첨자수 :</label>
        <input type="number" id="winner_count3" name="winner_count3" min="0" max="100" /></p>
<p>
<textarea id="code3" cols="50" rows="10">
</textarea>
</p>
<p><label>당첨 후 즉시 종료 여부 :</label>
    <input type="checkbox" id="end_immediately3" name="end_immediately3"/></p>

<input type="button" id="submit" value="저장">
<!--/form-->
<br><br>
<div id="message"></div>
</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

let default_code1 = 
`def f( bet_seq:int=0, 
    bet_amount:int=0, 
    deposit_amount:int=0, 
    deposit_balance:int=0, 
    tot_deposit_amount:int=0,
    tot_deposit_balance:int=0, 
    avg_bet_amount_per_account:int=0, 
    avg_bet_amount_per_round:int=0, 
    tot_bet_amount:int=0, 
    tot_bet_count:int=0, 
    avg_deposit_amount_per_account:int=0, 
    account_count:int=0):
    if tot_bet_amount/tot_deposit_amount > 0.9:
        return True
    return False
`
let default_code2 = 
`def f( bet_seq:int=0, 
    bet_amount:int=0, 
    deposit_amount:int=0, 
    deposit_balance:int=0, 
    tot_deposit_amount:int=0,
    tot_deposit_balance:int=0, 
    avg_bet_amount_per_account:int=0, 
    avg_bet_amount_per_round:int=0, 
    tot_bet_amount:int=0, 
    tot_bet_count:int=0, 
    avg_deposit_amount_per_account:int=0, 
    account_count:int=0):
    if deposit_balance == 0:
        return True
    return False
`
let default_code3 = 
`def f( bet_seq:int=0, 
    bet_amount:int=0, 
    deposit_amount:int=0, 
    deposit_balance:int=0, 
    tot_deposit_amount:int=0,
    tot_deposit_balance:int=0, 
    avg_bet_amount_per_account:int=0, 
    avg_bet_amount_per_round:int=0, 
    tot_bet_amount:int=0, 
    tot_bet_count:int=0, 
    avg_deposit_amount_per_account:int=0, 
    account_count:int=0):
    if tot_deposit_balance <= 0:
        return True
    return False
`
$('#code1').val(default_code1);
$('#code2').val(default_code2);
$('#code3').val(default_code3);

$(document).ready(function(){

	$('#submit').click(function(){

        let ei1 = $("#end_immediately1").is(":checked") ? "true" : "false";
        let ei2 = $("#end_immediately2").is(":checked") ? "true" : "false";
        let ei3 = $("#end_immediately3").is(":checked") ? "true" : "false";

        let raffle_rules = []

        if ($('#rule_name1').val()){
            raffle_rules.push({
                rule_name:$('#rule_name1').val(),
                winning_type:$('input[name="winning_type1"]:checked').val(),
                winning_point:parseInt($('#winning_point1').val()),
                winner_count:parseInt($('#winner_count1').val()),
                code:$('#code1').val(),
                end_immediately:ei1
            })
        }

        if ($('#rule_name2').val()){
            raffle_rules.push({
                rule_name:$('#rule_name2').val(),
                winning_type:$('input[name="winning_type2"]:checked').val(),
                winning_point:parseInt($('#winning_point2').val()),
                winner_count:parseInt($('#winner_count2').val()),
                code:$('#code2').val(),
                end_immediately:ei2
            })
        }

        if ($('#rule_name3').val()){
            raffle_rules.push({
                rule_name:$('#rule_name3').val(),
                winning_type:$('input[name="winning_type3"]:checked').val(),
                winning_point:parseInt($('#winning_point3').val()),
                winner_count:parseInt($('#winner_count3').val()),
                code:$('#code3').val(),
                end_immediately:ei3
            })
        }

        /*
        let raffle_rules = [
            {
                winning_type:$('input[name="winning_type1"]:checked').val(),
                winning_point:$('#winning_point1').val(),
                winner_count:$('#winner_count1').val(),
                code:$('#code1').val(),
                end_immediately:ei1
            },
            {
                winning_type:$('input[name="winning_type2"]:checked').val(),
                winning_point:$('#winning_point2').val(),
                winner_count:$('#winner_count2').val(),
                code:$('#code2').val(),
                end_immediately:ei2
            },
            {
                winning_type:$('input[name="winning_type3"]:checked').val(),
                winning_point:$('#winning_point3').val(),
                winner_count:$('#winner_count3').val(),
                code:$('#code3').val(),
                end_immediately:ei3
            },
        ]
        */
		let sendData = {
            game_name : $('#game_name').val(),
	        signup_date : $('#signup_date').val(),
	        start_date : $('#start_date').val(),
            raffle_rules : raffle_rules
        }

        console.log(sendData)

		$.ajax({
			type:'post',
			url:'/api/v1/game_manager/game',
			data:JSON.stringify(sendData),
            contentType: "application/json; charset=utf-8",
			dataType:'json',
			success : function(data){
				$('#message').html(data);
			}
		});

	});
});

</script>
</html>