 
<html>  

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<!--meta http-equiv="refresh" content="20" /-->
    <title>Monitor</title>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
    <script>

        var timer = setInterval(getBets, 5000);

        function getBets() {

            $.ajax({
                type:'get',
                url:'http://localhost:5014/api/v1/opensearch/calc_bet_list/{{game_id}}/{{account_id}}',
                contentType: "application/json; charset=utf-8",
                //dataType:'json',
                success : function (data) {
                    console.log(data.results)
                    $("#grid").jqGrid({
                        colModel: [
                            { name: "bet_seq" },
                            { name: "bet_amount" },
                            { name: "deposit_balance" },
                            { name: "account_count" },
                            { name: "tot_bet_amount" },
                            { name: "tot_deposit_balance" }
                        ],
                        data: data.results
                    });
                }
		    });
        }
    
    </script>
</head>
<body>
    <h2>Game ID : {{game_id}}</h2>
    <h2>Account ID : {{account_id}}</h2> 

<table id="grid"></table>
</body>
</html>  
